@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-doctor-cards {
    border: 1px solid #d8d8d8;
    border-radius: 16px;
}
.custom-border-bottom-doctor-cards {
    border-bottom: 1px solid #d8d8d8;
}
.doctor-cards-container {
    border: 1px solid #d8d8d8;
    border-radius: 16px;
    height: 100%;
    overflow-y: scroll
}

.navigation_active {
    @apply bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium;
}
.navigation_inactive {
    @apply text-gray-700 hover:text-blue-900 hover:border-b-2 hover:border-blue-900 text-base font-medium;
}

.prescription-input-fields {
    @apply p-2 border rounded-md border-gray-300 focus:ring-indigo-500 focus:border-indigo-500  w-full;
}

.medicine-table { 
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    text-align: center;
  }
  
.medicine-table th,
.medicine-table td {
    border: 1px solid #d8d8d8;
} 
.medicine-table th {
    background-color: #e0f4ff;
}