/*----------GLOBAL CSS----------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
	font-family: 'Inter', sans-serif;
}
html { 
    -webkit-font-smoothing: antialiased; 
    overflow-y: scroll;
}

body::-webkit-scrollbar { 
    display: none 
}

ul { 
    list-style: none; 
}

img { 
    width: 100%; 
}

label, input[type=button], input[type=submit], button { 
    cursor: pointer; 
}

a {
    color: inherit;
    text-decoration: none;
}



/*----------PSUDO CLASSES----------*/



:root {

	/* MAIN COLORS */
	
    --primary-color: #0E20FF;
    
	/* BACKGROUND COLORS */
	
    --background-color-primary: #0E20FF;
    --background-color-primary-hover: rgba(14, 32, 255, 0.1);
	
    --background-color-dark-alpha: #;
    --background-color-dark-alpha: #;
	
    --background-color-light-alpha: #FFF;
    --background-color-light-beta: #F0F0F0;
    
	/* BORDER COLORS */
	
	--border-color-primary: #0E20FF;
	--border-color-white: #fff;
	
	/* TEXT COLORS */
	
	--text-color-primary: #0E20FF;
    
    --text-color-dark-alpha: #232323;
    --text-color-dark-beta: #444;
    --text-color-dark-gamma: #AAA;
    
	--text-color-light-alpha: #F0F0F0;
    --text-color-light-beta: #AAA;
    --text-color-light-gamma: #6c6c6c;
    
}



/*----------UTILITY CLASSES----------*/



.container {
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}

.highlight_primary {
	color: var(--text-color-primary);
}



/*----------BACKGROUND IMAGE----------*/



.background_image_contain {
	background-image: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: inherit;
	width: inherit;
}

.background_image {
	background-image: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
}
.background_image_top {
	background-image: inherit;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
}
.background_image_bottom {
	background-image: inherit;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
}



/*---------- BUTTON STYLING CLASSES CLASSES ----------*/



.btn_container {
	display: flex;
	align-items: center;
	gap: 24px;
	width: 100%;
	height: auto;
}

.btn {
	text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
	line-height: 1;
	vertical-align: baseline;
}
.btn_primary {
	text-transform: uppercase;
    color: var(--text-color-light-alpha);
    background-color: var(--background-color-primary);
	border: var(--border-color-primary) 2px solid;
}
.btn_primary:hover {
	color: var(--text-color-primary);
	background-color: var(--background-color-light-alpha);
    /* box-shadow: rgba(117,16,247,0.5) 0px 5px 15px; */
    transition: all 0.35s ease;
}
.btn_secondary,
.btn_tertiary {
	text-transform: uppercase;
	color: var(--text-color-dark-alpha);
    background-color: var(--background-color-primary-hover);
	border: var(--border-color-primary) 2px solid;
}
.btn_secondary:hover {
	color: var(--text-color-primary);
	background-color: var(--background-color-light-alpha);
    /* box-shadow: rgba(117,16,247,0.5) 0px 5px 15px; */
    transition: all 0.35s ease;
}
.btn_tertiary:hover {
	color: var(--text-color-light-alpha);
    background-color: var(--background-color-primary);
    /* box-shadow: rgba(117,16,247,0.5) 0px 5px 15px; */
    transition: all 0.35s ease;
}
.btn_quaternary {
	text-transform: uppercase;
	border: var(--border-color-white) 2px solid;
    color: var(--text-color-primary);
    background-color: var(--background-color-light-alpha);
}
.btn_quaternary:hover {
	color: var(--text-color-light-alpha);
	background-color: var(--background-color-primary);
	transition: all 0.35s ease;
}



/*----------FLEX CLASSES----------*/



.flex_regular {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: center;
}

.flex_space_between {
	display: flex;
	align-items: center;
	width: 100%;

	justify-content: space-between;
}

.flex_space_around {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: space-around;
}

.flex_space_evenly {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: space-evenly;
}



.flex_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.flex_wrap_evenly {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: space-evenly;
}

.flex_wrap_around {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: space-around;
}

.flex_wrap_between {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
	width: 100%;

	justify-content: space-between;
}



/*----------MEDIA QUERY CLASSES----------*/



.show_at_720 {
	display: block;
}
.hide_at_720 {
	display: none;
}
@media (min-width: 720px) {
	.show_at_720 {
		display: none;
	}
	.hide_at_720 {
		display: block;
	}
}



/*----------SOCIAL MEDIA----------*/



.fa-linkedin:hover{
    color: #0e76a8;
    transition: 0.4s ease-out;
}
.fa-instagram:hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s ease-out;
}
.fa-youtube-play:hover {
	color: #FF0000;
	transition: 0.4s ease-out;
}
.fa-facebook:hover {
	color: #3b5998;
	transition: 0.4s ease-out;
}
.fa-envelope-o:hover {
	color: rgb(219 68 55);
	transition: 0.4s ease-out;
}
.fa-twitter:hover {
	color: #1DA1F2;
	transition: 0.4s ease-out;
}
