header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    box-shadow: 0px 4px 4px rgba(65, 98, 255, 0.25);
    z-index: 2;

    background-color: var(--background-color-light-alpha);
}
header .header_options {
    display: flex;
    align-items: center;
    gap: 16px;
}
header .header_options figure {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: var(--background-color-primary);
}

header .header_button_container {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}
header .header_button_container .header_button {
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
}